<div class="container">
  <h1>Iniciar Sesión</h1>

  <% if flash[:alert] %>
    <p style="color: red;"><%= flash[:alert] %></p>
  <% end %>
  <%= form_with url: login_path, method: :post, data: { turbo: false } do %>

    <div>
      <%= label_tag :username, "Usuario" %>
      <%= text_field_tag :username %>
    </div>

    <div>
      <%= label_tag :password, "Contraseña" %>
      <%= password_field_tag :password %>
    </div>

    <%= submit_tag "Entrar" %>

  <% end %>

  <div class="text-center">
    <p>¿No tienes cuenta?</p>
    <%= link_to "Registrarse", new_usuario_path %>
  </div>
</div>