<div class="container">
  <h1>Iniciar sesión</h1>

  <% if flash[:alert].present? %>
    <p style="color: red;"><%= flash[:alert] %></p>
  <% end %>

  <% if flash[:notice].present? %>
    <p style="color: green;"><%= flash[:notice] %></p>
  <% end %>

  <%= form_with url: login_path, method: :post, data: { turbo: false } do %>
    <div>
      <%= label_tag :nombre_usuario, "Nombre de usuario" %>
      <%= text_field_tag :nombre_usuario, params[:nombre_usuario], autocomplete: "username" %>
    </div>

    <div>
      <%= label_tag :password, "Contraseña" %>
      <%= password_field_tag :password, nil, autocomplete: "current-password" %>
    </div>

    <%= submit_tag "Entrar" %>
  <% end %>
</div>