<div id="<%= dom_id usuario %>">
  <div>
    <strong>Nombre completo:</strong>
    <%= usuario.nombre_completo %>
  </div>

  <div>
    <strong>Username:</strong>
    <%= usuario.username %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= usuario.email %>
  </div>

  <div>
    <strong>Password digest:</strong>
    <%= usuario.password_digest %>
  </div>

</div>
